HOSTNAME=https://anaconda.com
API_PREFIX=/api
PUBLIC_API_PREFIX=/api/v1
CLIENT_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# DATABASE_URL=sqlite:///advisories.db
